NEXT_PUBLIC_SUPABASE_URL=https://aoxyeucljienuilwdxli.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFveHlldWNsamllbnVpbHdkeGxpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMTAxOTcsImV4cCI6MjA5NDY4NjE5N30.AtGXJ8bIk_AKVIit46QEppiPFkOVm7BzSn5A_8gP7qs
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFveHlldWNsamllbnVpbHdkeGxpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTExMDE5NywiZXhwIjoyMDk0Njg2MTk3fQ.m8Nvzp46h74THRWe11bbB9qrtlf2kV51X7QroorTIxc
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_VAPID_PUBLIC_KEY=BDLCUeeNJuxedXYKve4WSnxQsMvQ--EtUkk2xyNsmcoyCevQVUzqln8zbVfcVlE6NqTWOMzY0--82BmcG9KK1eg
VAPID_PRIVATE_KEY=IzPNsdvYjFcPFxYOCUkAxf2ygjighvJ5pU7u36J3iiQ
